@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Cabin+Condensed|Roboto+Condensed|Varela+Round&display=swap");
* {
    font-family: "Varela Round", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: medium;
    text-align: center;
}

.nav-box {
    position: relative;
    margin: auto;
    padding: 30px;
    height: 22px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 40px;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: black;
}

.banner-box {
    position: relative;
    text-align: center;
    top: 5px;
    padding: 200px;
    margin-bottom: 30px;
}

.title-msg {
    position: absolute;
    padding: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: x-large;
    text-transform: capitalize;
}

.form-box {
    top: 10px;
    margin: 50px 200px;
    justify-items: center;
}

.form-box #error-msg {
    margin: 10px;
    padding: 0;
    background: #fe8bef;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.contact-info {
    display: grid;
    grid-template-columns: 150px 300px 150px 300px;
    grid-gap: 25px 20px;
}

.contact-info label {
    text-align: left;
}

.contact-info input {
    top: 0;
    margin: 0;
}

.contact-info textarea {
    width: 790px;
    padding: 30px;
    resize: none;
}

#submit-btn {
    background-color: rgb(130, 140, 214);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    height: 40px;
    width: 150px;
    margin: 10px;
    position: relative;
    border: 0px;
    animation-name: btn-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 3px;
}